/**
 * Styles for the nycc7 theme.
 */

body {
  margin-bottom: 50px;
  padding-bottom: 25px;
}

div.navbar-header a.navbar-brand {
 display: none;
}

article.node-rides div.item-list ul  {
  list-style-type: none;
  padding: 0;
}

article.node-rides div.item-list ul li {
  margin: 3px 0;
}

article.node-rides div.stats,
article.node-rides div.content ,
article.node-rides div.actions {

}

article.node-rides div.content {
  overflow: auto;
}

article.node-rides div.item-list ul li {
  margin: 3px 0;
}

header#navbar div.search {
}

header#navbar ul {
  list-style-type: none;
  padding: 0;
}

header#navbar ul li.top-item a {
  text-transform: uppercase;
  font-weight: bold;
}

header#navbar button.navbar-toggle {
  display: block;
  color: white;
}

header#navbar div.navbar-header {
  width: 100%;
}

header#navbar .menu-collapse ul {
  padding: 0 5px;
}

.region-navigation {
  display: inline-block;
  padding: 0;
  margin: 0;
}


